[user]
	name = Mannu Silva
	email = $GIT_EMAIL_PERSONAL
[color]
	ui = true
[merge]
	conflictstyle = diff3
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = false
[init]
	defaultBranch = main

[includeIf "gitdir:~/work/"]
  	path = ~/.gitconfig-work