[user]
	name = Mannu Silva
	email = {{ (index (onepassword "hx4ktyi3rx4lxr5jw7i7eh7s2q").fields 3).value }}
[color]
	ui = true
[merge]
	conflictstyle = diff3
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = false
[init]
	defaultBranch = main

[includeIf "gitdir:work/"]
  	path = ~/.gitconfig-work
